@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap%22");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

.navigation-bar {
  position: sticky;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  background: #f2f2f2;
  z-index: 3;
}

.main-header {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
}

/*.container-fixed-header {
  display: flex;
  position: fixed;
  top: 0;
}*/
.fixed-header {
  height: 50px;
  width: 325px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-burger {
  background: url("/icons/burger_menu.png") no-repeat;
}
.header-burger:hover {
  cursor: pointer;
}

.header-login {
  width: 27px;
  height: 27px;
  background: url("/icons/sprite.svg") 0 0 no-repeat;
}
.header-login:hover {
  background: url("/icons/sprite.svg") -37px 0 no-repeat;
  cursor: pointer;
}

.header-shop {
  display: flex;
}
.header-shop__magnifier {
  width: 50px;
  height: 50px;
  background: #bbb8b6 url("/icons/sprite.svg") -304px 12px no-repeat;
}
.header-shop__magnifier:hover {
  cursor: pointer;
}
.header-shop__shopping {
  background: #fff url("/icons/sprite.svg") -66px 10px no-repeat;
  width: 50px;
  height: 50px;
}
.header-shop__shopping:hover {
  background: #ff5959 url("/icons/sprite.svg") -105px 10px no-repeat;
  cursor: pointer;
}
.header-shop__articles {
  width: 50px;
  height: 50px;
  background: #ff5959;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-shop__articles__product-count {
  font-family: "Tahoma";
  font-size: 20px;
  color: white;
}

.logo-header-mobile {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.logo-header-mobile:hover {
  cursor: pointer;
}
.logo-header-mobile__image {
  width: 325px;
  height: 75px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  background-color: #f8f8f8;
}

.main-logo {
  margin-top: -65px;
}

.main-logo_image {
  width: 103px;
  height: 120px;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 325px;
  height: 244px;
  margin-top: 5px;
}

.main__title-text {
  display: inline-block;
  font-size: 22px;
  color: #2e2925;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-stretch: 100%;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 20px;
}

.main-title__separator-bar {
  background: #2e2925;
  width: 218px;
  height: 2px;
  line-height: 22px;
}

.main-options {
  width: 325px;
}
.main-options__image {
  width: 325px;
  height: 150px;
  opacity: 0.8;
  object-fit: cover;
  object-position: 0 10px;
}
.main-options__image:hover {
  cursor: pointer;
}
.main-options__text-container {
  height: 75px;
  width: 50%;
  background-color: white;
  opacity: 0.8;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  z-index: 1;
}
.main-options__text {
  position: absolute;
  left: 15px;
  color: #67635f;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-stretch: 100%;
  line-height: 17px;
  text-transform: uppercase;
  z-index: 2;
}
.main-options__box {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-button {
  margin-top: 40px;
}
.main-button__more {
  background-color: #ff5959;
  color: white;
  border: none;
  padding: 18px 50px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 900;
  font-stretch: 90%;
}

.information {
  background-color: #e8e6e5;
  height: 438px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.information__block {
  display: flex;
  align-content: center;
  justify-content: center;
}
.information__block-A {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}
.information__logo-A {
  width: 85px;
  height: 60px;
  background: url("/icons/sprite.svg") 0 -38px no-repeat transparent;
  margin-bottom: 20px;
}
.information__text-A {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information__text-A-upper {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #67635f;
  line-height: 18px;
  margin-bottom: 0;
}
.information__text-A-lower {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #67635f;
  margin-top: 0;
}
.information__block-B {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}
.information__logo-B {
  width: 55px;
  height: 60px;
  background: url("/icons/sprite.svg") -90px -38px no-repeat transparent;
  margin-bottom: 20px;
}
.information__text-B {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information__text-B-upper {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #67635f;
  line-height: 18px;
  color: #67625f;
  margin-bottom: 0;
}
.information__text-B-lower {
  width: 162px;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  text-align: center;
  color: #67635f;
  margin-top: 0;
}
.information__block-C {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}
.information__logo-C {
  width: 68px;
  height: 60px;
  background: url("/icons/sprite.svg") -150px -36px no-repeat transparent;
  margin-bottom: 20px;
}
.information__text-C {
  width: 162px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information__text-C-upper {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #67635f;
  line-height: 18px;
  margin-bottom: 0;
}
.information__text-C-lower {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #67635f;
  margin-top: 0;
}
.information__block-D {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}
.information__logo-D {
  width: 77px;
  height: 60px;
  background: url("/icons/sprite.svg") -223px -38px no-repeat transparent;
  margin-bottom: 20px;
}
.information__text-D {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information__text-D-upper {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #67635f;
  line-height: 18px;
  color: #67625f;
  margin-bottom: 0;
}
.information__text-D-lower {
  width: 162px;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  text-align: center;
  color: #67635f;
  margin-top: 0;
}

.social-net {
  height: 160px;
  display: flex;
  flex-direction: column;
}
.social-net__title {
  height: 80px;
  width: 100vw;
  margin-bottom: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  color: #67635f;
  font-size: 14px;
  line-height: 16px;
}
.social-net__logos {
  display: flex;
  justify-content: center;
}
.social-net__facebook {
  width: 33px;
  height: 32px;
  background: url("/icons/sprite.svg") 0 -494px no-repeat transparent;
  margin: 1px;
}
.social-net__twitter {
  width: 33px;
  height: 32px;
  background: url("/icons/sprite.svg") -35px -494px no-repeat transparent;
  margin: 1px;
}
.social-net__instagram {
  width: 33px;
  height: 32px;
  background: url("/icons/sprite.svg") -70px -494px no-repeat transparent;
  margin: 1px;
}
.social-net__pinterest {
  width: 33px;
  height: 32px;
  background: url("/icons/sprite.svg") -106px -494px no-repeat transparent;
  margin: 1px;
}
.social-net__youtube {
  width: 33px;
  height: 32px;
  background: url("/icons/sprite.svg") -176px -494px no-repeat transparent;
  margin: 1px;
}

.newsletter {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.newsletter__separator-bar {
  height: 1px;
  width: 325px;
  background-color: #a5a5a5;
}
.newsletter__title {
  height: 50px;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #67625f;
  margin-top: 4px;
  display: flex;
  flex-direction: column-reverse;
}
.newsletter__formulary {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.newsletter__mail {
  height: 40px;
  width: 325px;
  display: flex;
  justify-content: center;
}
.newsletter__email {
  width: 325px;
  display: flex;
  justify-content: center;
}
.newsletter__checkbox {
  width: 217px;
  color: #67625f;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  outline: none;
}
.newsletter__lopd-link {
  color: #67625f;
}
.newsletter__button-suscription {
  height: 40px;
  width: 325px;
}
.newsletter__button {
  height: 40px;
  width: 325px;
  background-color: #ff5959;
  color: #fff;
  border: none;
  line-height: 40px;
  font-size: 13.33px;
  font-family: Arial;
  font-weight: bolder;
  text-indent: 0px;
}

.more-info {
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.more-info__contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.more-info__contact-logo {
  background: url("/icons/sprite.svg") 0 -207px no-repeat;
  width: 30px;
  height: 31px;
  margin: 3px;
}
.more-info__contact-text {
  margin: 3px;
  color: #ff5959;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.more-info__about-us-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.more-info__about-us-logo {
  background: url("/icons/sprite.svg") 0 -246px no-repeat;
  width: 30px;
  height: 31px;
  margin: 3px;
}
.more-info__about-us-text {
  margin: 3px;
  color: #ff5959;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.more-info__chart-conditions-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.more-info__chart-conditions-logo {
  background: url("/icons/sprite.svg") 0 -285px no-repeat;
  width: 30px;
  height: 31px;
  margin: 3px;
}
.more-info__chart-conditions-text {
  margin: 3px;
  color: #ff5959;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.copyright {
  height: 50px;
  background-color: #ff5959;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__text {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
.copyright a {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  text-decoration: none;

/*# sourceMappingURL=style.css.map */
