@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap%22");
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

.information {
  background-color: #e8e6e5;
  height: 438px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.information__block {
  display: flex;
  align-content: center;
  justify-content: center;
}
.information__block-A {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}
.information__logo-A {
  width: 85px;
  height: 60px;
  background: url("/icons/sprite.svg") 0 -38px no-repeat transparent;
  margin-bottom: 20px;
}
.information__text-A {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information__text-A-upper {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #67635f;
  line-height: 18px;
  margin-bottom: 0;
}
.information__text-A-lower {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #67635f;
  margin-top: 0;
}
.information__block-B {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}
.information__logo-B {
  width: 55px;
  height: 60px;
  background: url("/icons/sprite.svg") -90px -38px no-repeat transparent;
  margin-bottom: 20px;
}
.information__text-B {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information__text-B-upper {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #67635f;
  line-height: 18px;
  color: #67625f;
  margin-bottom: 0;
}
.information__text-B-lower {
  width: 162px;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  text-align: center;
  color: #67635f;
  margin-top: 0;
}
.information__block-C {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}
.information__logo-C {
  width: 68px;
  height: 60px;
  background: url("/icons/sprite.svg") -150px -36px no-repeat transparent;
  margin-bottom: 20px;
}
.information__text-C {
  width: 162px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information__text-C-upper {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #67635f;
  line-height: 18px;
  margin-bottom: 0;
}
.information__text-C-lower {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #67635f;
  margin-top: 0;
}
.information__block-D {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}
.information__logo-D {
  width: 77px;
  height: 60px;
  background: url("/icons/sprite.svg") -223px -38px no-repeat transparent;
  margin-bottom: 20px;
}
.information__text-D {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information__text-D-upper {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #67635f;
  line-height: 18px;
  color: #67625f;
  margin-bottom: 0;
}
.information__text-D-lower {
  width: 162px;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  text-align: center;
  color: #67635f;
  margin-top: 0;
}

.social-net {
  height: 160px;
  display: flex;
  flex-direction: column;
}
.social-net__title {
  height: 80px;
  width: 100vw;
  margin-bottom: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  color: #67635f;
  font-size: 14px;
  line-height: 16px;
}
.social-net__logos {
  display: flex;
  justify-content: center;
}
.social-net__facebook {
  width: 33px;
  height: 32px;
  background: url("/icons/sprite.svg") 0 -494px no-repeat transparent;
  margin: 1px;
}
.social-net__twitter {
  width: 33px;
  height: 32px;
  background: url("/icons/sprite.svg") -35px -494px no-repeat transparent;
  margin: 1px;
}
.social-net__instagram {
  width: 33px;
  height: 32px;
  background: url("/icons/sprite.svg") -70px -494px no-repeat transparent;
  margin: 1px;
}
.social-net__pinterest {
  width: 33px;
  height: 32px;
  background: url("/icons/sprite.svg") -106px -494px no-repeat transparent;
  margin: 1px;
}
.social-net__youtube {
  width: 33px;
  height: 32px;
  background: url("/icons/sprite.svg") -176px -494px no-repeat transparent;
  margin: 1px;
}

.newsletter {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.newsletter__separator-bar {
  height: 1px;
  width: 325px;
  background-color: #a5a5a5;
}
.newsletter__title {
  height: 50px;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #67625f;
  margin-top: 4px;
  display: flex;
  flex-direction: column-reverse;
}
.newsletter__formulary {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.newsletter__mail {
  height: 40px;
  width: 325px;
  display: flex;
  justify-content: center;
}
.newsletter__email {
  width: 325px;
  display: flex;
  justify-content: center;
}
.newsletter__checkbox {
  width: 217px;
  color: #67625f;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  outline: none;
}
.newsletter__lopd-link {
  color: #67625f;
}
.newsletter__button-suscription {
  height: 40px;
  width: 325px;
}
.newsletter__button {
  height: 40px;
  width: 325px;
  background-color: #ff5959;
  color: #fff;
  border: none;
  line-height: 40px;
  font-size: 13.33px;
  font-family: Arial;
  font-weight: bolder;
  text-indent: 0px;
}

.more-info {
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.more-info__contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.more-info__contact-logo {
  background: url("/icons/sprite.svg") 0 -207px no-repeat;
  width: 30px;
  height: 31px;
  margin: 3px;
}
.more-info__contact-text {
  margin: 3px;
  color: #ff5959;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.more-info__about-us-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.more-info__about-us-logo {
  background: url("/icons/sprite.svg") 0 -246px no-repeat;
  width: 30px;
  height: 31px;
  margin: 3px;
}
.more-info__about-us-text {
  margin: 3px;
  color: #ff5959;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.more-info__chart-conditions-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.more-info__chart-conditions-logo {
  background: url("/icons/sprite.svg") 0 -285px no-repeat;
  width: 30px;
  height: 31px;
  margin: 3px;
}
.more-info__chart-conditions-text {
  margin: 3px;
  color: #ff5959;
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.copyright {
  height: 50px;
  background-color: #ff5959;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__text {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
.copyright a {
  font: 12px/1.55 "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
